
#t1{
    color: red; /* Cor da letra */
}

#t2{
    font-size: medium; /* Tamanho da fonte, letra */
    font-weight: bold; /* Negrito */
    text-align: justify; /* Alinhamento do texto */
    color: #234abe; /* Cor da letra */
}
.texto{
    font-family: 'Courier New', Courier, monospace; /* Tipo de fonte */
    text-decoration: underline; /* Texto sublinhado */
    text-align: center; /* Alinhamento do texto */
    letter-spacing: 1px; /* Espaçamento entre as letras */
}

.palavra{
    color: aquamarine; /* Cor da letra */
    font-size: 20px; /* Tamanho da fonte, letra */
    font-weight: bold; /* Negrito */
    text-align: justify; /* Alinhamento do texto */
}